<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Reset CSS -->
    <link rel="stylesheet" href="/stylesheets/reset.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/chat.css" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Favicon -->
    <link rel="icon" href="" type="image/x-icon" />

    <title>Chatter</title>
</head>

<body>
    {{{ body }}}
</body>

</html>