<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Reset CSS -->
    <link rel="stylesheet" href="/stylesheets/reset.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/chat.css" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Favicon -->
    <link rel="icon" href="" type="image/x-icon" />

    <title>Chatter</title>
</head>

<body>

    <div class="container opaque">
        <div class="row" id="heading">
            <div class="col">
                <h1>Chatter. </h1>
                <h3>Join the conversation.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12" id="loginWindow">
                Welcome to Chatter, please log in.
            </div>
            <div class="col-md-6 col-sm-12" id="loginWindow">
                <form action="/chat" class="form-group">
                    Choose a nickname:
                    <input type="text" class="form-control" id="nickname" autocomplete="off" autofocus><br>
                    <button type="submit" class="form-control" id="nicknameSubmit">Submit</button>

                </form>
            </div>
        </div>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS, jq transit -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="http://ricostacruz.com/jquery.transit/jquery.transit.js"></script>

    <!-- Javascript -->
    <script src="/javascripts/login.js"></script>

    <!-- Velocity -->
    <script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>

</body>

</html>